@use '../util';

h1,
h2,
h3 {
	font-weight: 700;
	line-height: 1.1;
	margin-top: 0;
}

p {
	font-size: util.rem(15);
	font-weight: 400;
	margin-top: 0;
}

a,
a:visited,
a:active {
	text-decoration: none;
}
